<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: head}"></head> 
<body>
	<div th:replace="~{/fragments/header :: navbar}"></div>
	
	<main class="container">
		<h1 style="color: red">ERROR</h1>
	    <h1 th:if="${errorMessage}" th:utext="${errorMessage}">Error java.lang.NullPointerException</h1>
	    <h1 th:if="!${errorMessage}">404 - Page does not exist</h1>
		<a th:href="@{/}">Back to Home Page</a>
	</main>
	<div th:replace="~{/fragments/footer :: footer}"></div>

</body>
</html>