<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: head}"></head> 

<body class="container-fluid">
	<header>
		<div th:replace="~{/fragments/header :: navbar}"></div>
	</header>
	<main class = "backgrd">
		<h3>HOME PAGE</h3>
		<h5>Web Techs: <span th:text="${webTech}"></span><br />
			Project name: <span th:text="${projectName}"></span> 
		</h5>	
	</main>
	<div class="fixed-bottom start-50 translate-middle" 
	     th:insert="~{/fragments/footer :: footer}"></div>
</body>
</html>

